{% extends "quiz/base.html" %}
{% block content %}

<section class="engine"><a href="#">bootstrap template</a></section><section class="header1 cid-s0vEcUQPOo mbr-parallax-background" id="header1-k">

    

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(20, 157, 204);">
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">QUIZ</h1>
                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2">Quiz for class 11</h3>
                <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">These are following quiz related to class 11.</p>
                <div class="mbr-section-btn align-center">
                    <a class="btn btn-md btn-secondary display-4" href="#">PHYSICS</a>
                    <a class="btn btn-md btn-secondary display-4" href="#">CHEMISTRY</a>
                    <a class="btn btn-md btn-secondary display-4" href="#">BIOLOGY</a>
                    <a class="btn btn-md btn-secondary display-4" href="#">COMPUTER SCIENCE</a>
                    <a class="btn btn-md btn-secondary display-4" href="#">MATHS</a>
                    <a class="btn btn-md btn-secondary display-4" href="#">ENGLISH</a></div>
            </div>
        </div>
    </div>

</section>

{% endblock content %}