{% extends "quiz/base.html" %}
{% block content %}

    <style>
/* =========================PRELOADER=======================*/
#page-loader {
  background: #fff;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1050;
}

.loader-icon {
  background: none repeat scroll 0 0 #fff;
  border-bottom: 3px solid rgba(19, 19, 19, 0.1) !important;
  border-left: 3px solid rgba(19, 19, 19, 0.1) !important;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  border-right: 3px solid #1453F2 !important;
  border-top: 3px solid rgba(19, 19, 19, 0.1) !important;
  height: 50px;
  left: 50%;
  margin: -20px 0 0 -20px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 50px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.colored-border {
  border-color: #fff;
}

.fa-spin {
  -webkit-animation: fa-spin 1s infinite linear;
  animation: fa-spin 1s infinite linear;
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

/*--------------------------
PAGE BANNER
--------------------------*/
.page-banner-area {
  padding: 180px 0px;
}
.first{
    color: #19a79e;
    font-size: 40px;
    margin-top: -40px;
    font-family: monospace;
    text-shadow:  2px 3px #e2e2e2;
}
.quiz-container{
 max-width: 700px;
 min-height:500px;
 background-color: #ffffff;
 margin:40px auto;
 border-radius:10px;
 padding:30px;
}
.quiz-container::after,.quiz-container::before{
 content: '';
 clear: both;
 display: table;

}
.question-number,
.question,
.options,
.button,
.answers-tracker{
    font-size: 30px;
 float: left;
 width: 100%;
} 
.question-number h3{
    margin-top: -40px;
 color:black;
    font-size: 35px;
    font-weight: 900;
    font-family: monospace;
 border-bottom: 1px solid #ccc;
 margin:0;
 padding-bottom:10px;
    text-shadow:  2px 2px #e2e2e2;
}

.question {
 font-size:22px;
 color:black;
 padding:20px 0;

}

.options div{
    /* width: 550px; */
  background-color: #cccccc;
    font-family: cursive;
  font-size:17px;
  color:black;
    font-weight: bold;
  margin-bottom:10px;
  border-radius:5px;
box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
  padding:18px;
  position: relative;
  overflow:hidden;
  cursor: pointer;
}
.options div.disabled{
 pointer-events: none;
}
.options div.correct{
 z-index: 1;
 color: #fff;
}
.options div.correct::before{
 content: '';
 position: absolute;
 left:0;
 top:0;
 width: 100%;
 height: 100%;
 background-color: #009432;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
 z-index: -1;

 animation: animateBackground 1s ease;
 animation-fill-mode: forwards;
}
@keyframes animateBackground{
 0%{
  transform: translateX(-100%);
 }
 100%{
  transform: translateX(0%);
 }
}
.options div.wrong{
 z-index: 1;
 color: #fff;
}
.options div.wrong::before{
 content: '';
 position: absolute;
 left:0;
 top:0;
 width: 100%;
 height: 100%;
 background-color:#EA2027;
box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
 z-index: -1;

 animation: animateBackground 1s ease;
 animation-fill-mode: forwards;
}
@keyframes animateBackground{
 0%{
  transform: translateX(-100%);
 }
 100%{
  transform: translateX(0%);
 }
}

.button .btn{
 padding:15px 50px;
 border-radius:5px;
font-size: 18px !important;
    font-weight: 900 !important;
 cursor: pointer;
 background-color:#009688;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
 color:#ffffff;
 border: none;
 display: inline-block;
 margin:15px 0 20px;
}
.answers-tracker{
 border-top:1px solid #ccc;
 padding-top: 15px;
}
/* .answers-tracker div{ */
 /* height: 55px;
 width: 55px;
 background-color: #cccccc;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
 display: inline-block;
 border-radius: 50%;
 margin-right:5px; */
/* } */

.answers-tracker div.correct{
background-color: #009432;
 background-image:url('correct.png');
     box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
 background-position: center;
 background-repeat: no-repeat;
 background-size: 120%;
}
.answers-tracker div.wrong{
 background-color: #EA2027;
 background-image:url('wrong.png');
     box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
 background-position: center;
 background-repeat: no-repeat;
 background-size: 120%;
}

.quiz-over{
 position: fixed;
 left:0;
 top:0;
 width: 100%;
 height: 100%;
 background-color:rgba(0,0,0,0.9);
 z-index: 10;
 display: none;
 align-items: center;
 justify-content: center;
}
.quiz-over.show{
 display: flex;
}
.quiz-over .box{
 background-color: #009688;
    color: white;
    font-weight: 100;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
 padding:30px;
 border-radius:10px;
 text-align: center;
 flex-basis: 700px;
 max-width:700px;
 color:#ffffff;
}

.quiz-over .box h1{
    color: white;
 font-size:36px;
 margin:0 0 20px;
}

.quiz-over .box button{
 padding:15px 50px;
 border:none;
 background-color:#FF9800;
 border-radius:5px;
 font-size:16px;
 margin:15px 0 20px;
 color:#ffffff;
}
</style>
    
    <section class="banner-area py-7">
        <div class="quizContainer container-fluid well well-lg">
      <div id="quiz1" class="text-center">
 <h3 style="color:#d14040;position:center;left:80%;top:0%; margin-top:80px;" ><br/>
  <span id='Modern History Of India Quiz part 01 for all Exams' style="font-size:25px;"></span></h3>
 <h2  class="first"Style="color:#ff000;position:center;left:80%;top:0%;">
   <samp id="Sub heading"> Computer Quiz-01</samp></h2>
       
</div>
<div class="quiz-container">
  <div class="question-number">
     <h3>Question <span class="question-num-value"></span> of <span class="total-question"></span></h3>
     <div class="quiz_timer">
      <span class="time">00:00</span>
    </div>
  </div>
  <div class="question">
 
  </div>
  <div class="options">
     <div id="1" class="option1" onclick="check(this)"></div>
     <div id="2" class="option2" onclick="check(this)"></div>
     <div id="3" class="option3" onclick="check(this)"></div>
     <div id="4" class="option4" onclick="check(this)"></div>
  </div>
  <div class="button">
     <button type="button" class="btn" onclick="next()">Next</button>
     <a href="#" onclick="skip();">Skip?</a>
     
  </div>
  <div class="answers-tracker">
    </div>
</div>
</br>

<div class="quiz-over">
 <div class="box">
   <h1>
     Amazing !<br>
    You Got <span class="correct-answers"></span> out of <span class="total-question2"></span> answers correct! <br>
    That's <span class="percentage"></span>
   </h1>
   <!-- <a href="quiz1.html"> -->
    <a class="text-info" href="#">
   <button type="button" onclick="tryAgain()">Next Quiz</button>
     </a>   
 </div>
</div>
      
      </div>  
                
  </section>
<script>

const options=document.querySelector(".options").children;
const answerTrackerContainer=document.querySelector(".answers-tracker");
const questionNumberSpan=document.querySelector(".question-num-value");
const totalQuestionSpan=document.querySelector(".total-question");
const correctAnswerSpan=document.querySelector(".correct-answers");
const totalQuestionSpan2=document.querySelector(".total-question2");
const percentage=document.querySelector(".percentage");
const question=document.querySelector(".question");
const op1=document.querySelector(".option1");
const op2=document.querySelector(".option2");
const op3=document.querySelector(".option3");
const op4=document.querySelector(".option4");
let questionIndex;
let index=0;
let myArray=[];
let myArr=[];
let score=0;

// questions and options and answers

const questions=[
 {
  q:'Clear nights are colder than cloudy nights because of',
  options:['a) Conduction','b) Condensation','c) Radiation','d) Insulation'],
  answer:3
 },
 {
  q:'A gas thermometer is more sensitive than a liquid thermometer because a gas :',
  options:['a) is lighter than liquid','b) expands more than a liquid','c) is easy to obtain','d) does not change state easily'],
  answer:4
 },
 {
  q:'Which one of the following is used for sun glasses ?',
  options:['a) Pyrex glass','b) Flint glass','c) Crooks glass','d) Crystal glass '],
  answer:3
 },
 {
  q:'The speed of light with the rise in the temperature of the medium :',
  options:['a)  Increases','b) Decreases','c) Remains unaltered','d) Drops suddenly'],
  answer:3
 },
 {
  q:'When the barometer reading dips suddenly it is an indication of',
  options:['a) Hot weather','b) Calm weather','c) Storm','d) Dry weather'],
  answer:3
 },
 {
   q:'Good conductor of electricity is',
   options:['a)dry air','b)paper','c)kerosene','d)graphite'],
   answer:4
 },
 {
   q:'Heat from the Sun reaches the Earth by',
   options:['a) Reflection','b) Conduction','c) Radiation','d) Convection'],
   answer:3
 },
 {
   q:'In which of the following cases kinetic energy is being used in performing work ?',
   options:['a)Paddling the bicycle to cover a distance','b)Driving a car to cover a distance','c)Wind mill grinding wheat grain','d) Rowing a boat in the lake'],
   answer:2
 },
 {
   q:'If the velocity time graph of a particle is represented by y = mt + c then the particle is moving with',
   options:['a)constant speed','b)constant velocity','c)constant acceleration','d) varying acceleration'],
   answer:3
 },
 {
   q:'Which of the following occurred first ?',
   options:['a)Albert Einstein propounded the General Theory of Relativity',
   'b)Max Planck unveiled the Quantum Theory',
   'c)Guglielmo Marconi sent out the first wireless signals',
   'd)Wright Brothers successfully flew an aircraft'],
   answer:3
 },
 {
   q:'A passenger standing In a bus is thrown outward when the bus takes a sudden turn happens due to',
   options:['a)Outward pull on him',
   'b)Inertia of motion',
   'c)Change in momentum',
   'd)Change in acceleration'],
   answer:2
 },
 {
   q:'When pressure is increased the melting point of ice',
   options:['a)increases',
   'b)does not change',
   'c)decreases',
   'd)depends on the impurities in the ice'],
   answer:3
 },
{
   q:'Longitudinal waves cannot travel through',
   options:['a)Vacuum',
   'b)Solid',
   'c)Liquid',
   'd)Gas'],
   answer:1
},
{
   q:'Electrostatic precipitator is used to control the pollution of',
   options:['a)Air',
   'b)Water',
   'c)Noise',
   'd)Thermal'],
   answer:1
},
{
   q:'The sky appears blue because of',
   options:['a)Atmospheric water vapour',
   'b)Scattering of light',
   'c)Reflection on sea water',
   'd)Emission of blue wavelength by the sun'],
   answer:2
}, 
{
   q:'Dynamo is a device for converting',
   options:['a)Heat energy into electrical energy',
   'b)Mechanical energy into electrical energy',
   'c)Magnetic energy into electrical energy',
   'd)Chemical energy Into electrical energy'],
   answer:2
}, 
{
   q:'Oil rises up the wick in a lamp because',
   options:['a)Oil is very light',
   'b)Of the diffusion of oil through the wick',
   'c)Of the surface tension phenomenon',
   'd)Of the capillary action phenomenon'],
   answer:4
}, 
{
   q:'In the atmosphere ultraviolet rays are absorbed by',
   options:['a)Oxygen',
   'b)Nitrogen',
   'c)Ozone',
   'd)Helium'],
   answer:1
}, 
{
   q:'An electron microscope gives higher magnification than an optical microscope because:',
   options:['a)it uses more powerful lenses',
   'b)the velocity of electron is smaller than that of visible light',
   'c)the electrons have more energy than the light particles',
   'd)the wavelength of elections is smaller as compared to the wavelength of visible light'],
   answer:4
}, 
{
   q:'For a body moving with no uniform velocity and uniform acceleration',
   options:['a)(X) Displacement Time graph is linear.',
   'b)Displacement Time graphic is nonlinear',
   'c)Velocity Time graph is nonlinear',
   'd)Velocity Time graph is linear'],
   answer:2
}, 
]

// set questions and options and question number
totalQuestionSpan.innerHTML=questions.length;
function load(){
      questionNumberSpan.innerHTML=index+1;
       question.innerHTML=questions[questionIndex].q;   
       op1.innerHTML=questions[questionIndex].options[0];
       op2.innerHTML=questions[questionIndex].options[1];
       op3.innerHTML=questions[questionIndex].options[2];
       op4.innerHTML=questions[questionIndex].options[3];
       index++;
}

const resultArray = []; // array that will store the result:)
let i = 0;
function check(element){
let result = element.innerHTML.split(')')[1].trim();
 resultArray.push({ques:++i, result:result});

 if(element.id==questions[questionIndex].answer){
  element.classList.add("correct");
  updateAnswerTracker("correct")
  score++;
  console.log("score:"+score)
 }
 else{
  element.classList.add("wrong");
  updateAnswerTracker("wrong")

 }
 disabledOptions()
}

function disabledOptions(){
   for(let i=0; i<options.length; i++) {
    options[i].classList.add("disabled");
    if(options[i].id==questions[questionIndex].answer){
     options[i].classList.add("correct");
    }

   }
}

function enableOptions(){
   for(let i=0; i<options.length; i++) {
    options[i].classList.remove("disabled","correct","wrong");
   }
}

function validate(){
    if(!options[0].classList.contains("disabled")){
      alert("Please Selecto one option")
    }
    else{
     enableOptions();
     randomQuestion();
    }
}

function skip() {

  enableOptions(); randomQuestion();
}

function next(){
  validate();
}
function randomQuestion(){
 let randomNumber=Math.floor(Math.random()*questions.length);
 let hitDuplicate=0;
     if(index==questions.length){
      quizOver();
     }
     else{
       if(myArray.length>0){
           for(let i=0; i<myArray.length; i++){
             if(myArray[i]==randomNumber){
                hitDuplicate=1;
                break;
             }
           }
           if(hitDuplicate==1){
            randomQuestion();
           }
           else{
             questionIndex=randomNumber; 
            load();
            myArr.push(questionIndex);
           }
       }
       if(myArray.length==0){
         questionIndex=randomNumber; 
         load();
         myArr.push(questionIndex);
       }

     myArray.push(randomNumber);
   
    }
}
 
function answerTrakcer(){
   for(let i=0; i<questions.length; i++){
    const div=document.createElement("div")
       answerTrackerContainer.appendChild(div);
   }
}

function updateAnswerTracker(classNam){
 answerTrackerContainer.children[index-1].classList.add(classNam);
}

function quizOver(){
  console.log(resultArray);
  clearInterval(mytime);
  document.querySelector(".quiz-over").classList.add("show");
  correctAnswerSpan.innerHTML=score;
  totalQuestionSpan2.innerHTML=questions.length;
  percentage.innerHTML=(score/questions.length)*100 + "%";
}

function tryAgain(){
   window.location.reload();
}

window.onload=function(){
randomQuestion();
answerTrakcer();

}

</script>   
<script>
  let dt = new Date(new Date().setTime(0));
let ctime = dt.getTime();
let seconds = Math.floor((ctime % (1000 * 60))/ 1000);
let minutes = Math.floor((ctime % (1000 * 60 * 60))/( 1000 * 60));
console.log(seconds, minutes);
let time = 0;
let mytime = setInterval(function(){
        time++;
        
        if(seconds < 59) {
            seconds++;
        } else {
            seconds = 0;
            minutes++;
        }
        let formatted_sec = seconds < 10 ? `0${seconds}`: `${seconds}`;
        let formatted_min = minutes < 10 ? `0${minutes}`: `${minutes}`
        document.querySelector("span.time").innerHTML = `${formatted_min} : ${formatted_sec}`;
    
        if(minutes == 20) {
          clearInterval(minutes);
          alert('time out');
          // window.location.reload();
          quizOver();
        }
    
    }, 1000);

</script>
{% endblock content %}