{% extends "quiz/base.html" %}
{% block content %}

    <div class="wrapper">
        <div class="welcome_text">
            <h1>Hello Guys</h1>
            <form class="welcome_form" name="welcome_form" onsubmit="submitForm(event)">
                <input type="text" name="name">
                <button>Start Quiz</button>
            </form>
        </div>
    </div>

    <!-- site.js -->
    <script> 
    function submitForm(e) {
    e.preventDefault();
    let name = document.forms["welcome_form"]["name"].value;
  
    sessionStorage.setItem("name", name);
  
    location.href = "{% url 'quiz-quiz' %}";
  }
    </script>
<style>
    * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato";
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  /* background-color:lightseagreen; */
}

.welcome_text {
  width: 400px;
}

/* .welcome_form {
} */

.welcome_form input,
.welcome_form button {
  display: block;
  width: 100%;
}

.welcome_form input {
  background-color: transparent;
  color: #fff;
  font-size: 30px;
  text-align: center;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}

.welcome_form input:focus {
  outline: none;
}

.welcome_form button {
  padding: 20px 0;
  border: none;
  border-radius: 100px;
  background-color:black;
  color: white;
  font-size: 22px;
  transition: 0.4s all;
}

.welcome_form button:hover {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  cursor: pointer;
}


.btn-next {
  border: none;
  padding: 15px 35px;
  background-color: #341f97;
  color: #fff;
  border-radius: 27px;
  transition: 0.4s all;
}

</style>

{% endblock content %}